{{#employee}}
<h1>Detail zaměstnance {{name}} {{surname}}</h1>
<dl>
    <dt>Jméno</dt>
    <dd>{{name}}</dd>

    <dt>Příjmení</dt>
    <dd>{{surname}}</dd>

    <dt>Pozice</dt>
    <dd>{{job}}</dd>

    <dt>Plat</dt>
    <dd>{{wage}}</dd>

    <dt>Místnost</dt>
    {{#theRoom}}
        <dd>
            <a href='../room/detail.php?roomId={{room_id}}'>{{name}}</a>
        </dd>
    {{/theRoom}}

    <dt>Telefon</dt>
    {{#theRoom}}
        <dd>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</dd>
    {{/theRoom}}


    <dt>Klíče</dt>
    {{#keys}}
        <dd>
            <a href='../room/detail.php?roomId={{room_id}}'>{{room_name}}</a>
        </dd>
    {{/keys}}
</dl>
{{/employee}}
