<table class='table table-striped'>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Job</th>
        <th>Wage</th>
        <th>Room</th>
        <th>Actions</th>
    </tr>

    {{#employees}}
    <tr>
        <td>
            <a href='detail.php?employeeId={{employee_id}}'>{{name}}</a>
        </td>
        <td>{{surname}}</td>
        <td>{{job}}</td>
        <td>{{wage}}</td>
        <td>{{room}}</td>
<!--        <td>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</td>-->
        <td>
            {{#notAdmin}}
                <form action="update.php" method="get" style="display: inline-block">
                    <input type="hidden" name="employeeId" value="{{employee_id}}" disabled>
                    <input type="submit" value="Upravit" class="btn btn-info" disabled>
                </form>
                <form action="delete.php" method="post" style="display: inline-block">
                    <input type="hidden" name="employeeId" value="{{employee_id}}" disabled>
                    <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat zaměstnance?\nAkce je nevratná!');" disabled>
                </form>
            {{/notAdmin}}
            {{^notAdmin}}
                <form action="update.php" method="get" style="display: inline-block">
                    <input type="hidden" name="employeeId" value="{{employee_id}}">
                    <input type="submit" value="Upravit" class="btn btn-info">
                </form>
                <form action="delete.php" method="post" style="display: inline-block">
                    <input type="hidden" name="employeeId" value="{{employee_id}}">
                    <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat zaměstnance?\nAkce je nevratná!');">
                </form>
            {{/notAdmin}}


        </td>
    </tr>
    {{/employees}}
    {{^employees}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/employees}}

</table>

<a href="create.php" class="btn btn-primary">Zapsat nového zaměstnance</a>

